* {
  box-sizing: border-box;
}

body {
  background-color: #181312;
  min-height: 100vh;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
  font-family: monospace;
  text-shadow: 5px 5px #e4444a;
}

h2 {
  font-size: 80px;
  color: white;
  text-align: center;
  font-family: monospace; 
  border-radius: 50%;
  
}

.group-name {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

button {
  margin-top: 100px;
  font-size: 50px;
  font-family: monospace;
  color: white;
  background-color: #e4444a;
  padding: 15px;
  cursor: pointer;
}

a {
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 50px;
  padding: 30px;
  font-family: monospace;
  background-color: #e4444a;
  text-decoration: none;
  border: 1px solid white;
}

.column-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardBack {
  height: 300px;
  width: 300px;
  background-color: #e4444a;
  box-shadow: 0px 0px 20px 10px #312625;
  color: white;
  margin: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: monospace;
}

.cardBack:hover {
  background-image: url('https://media0.giphy.com/media/tHUWbmczl1GqA/giphy.gif?cid=790b7611420fe6231ce884a59dceadddd3abfffef537aada&rid=giphy.gif');
  background-size: contain;
  transform: scale(1.05);
}

.cardFront p {
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
  display: none;
}




